<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-modifier"
        version="0.1.0">

  <name>Modifier</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">
  </platform>

  <platform name="ios">
  </platform>

  <platform name="wp7">
  </platform>

</plugin>
